body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

img {
  object-fit: contain;
}

.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_controls {
  position: absolute;
  left: 10%;
  top: 80px;
}

.main_control{
  margin-right:10px; 
  border:none;
  font-size: 16px;
  border-radius:100px;
  outline: none;
  padding:6px 14px;
  background: #4eb7f5;
  color:white;
  cursor: pointer;
}

.toggle_grid[disabled] {
  opacity: 0.3;
}

.toggle_grid.on {
  background: rgb(119, 225, 66);
}

.section_canvas {
  position: relative;
  min-width: 860px;
  height: 460px;
  background: white;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
}

/* .section_canvas.show_grid{

} */

.section_layout {
  outline-offset: -1px;
  height: calc(100% - 40px);
  width: auto;
  padding: 20px;
}

.section_item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  outline-offset: -5px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.text {
  width: 360px;
}

.button {
  background: #222;
  width: fit-content;
  height: fit-content;
  padding: 8px 15px;
  color: white;
}

.grid_item {
  width: fit-content;
  height: fit-content;
}

.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.show-outlines {
  outline: 2px solid #4eb7f5;
}

.grab-cursor {
  cursor: grab;
  z-index: 9999999;
}

.ui-sortable-placeholder {
  background: #4eb7f5;
  visibility: visible !important;
  outline: none;
  opacity: 0.3;
}
