:root {
  --blue--main: #459FED;
  --spacers-init-size: 26px;
  --spacers-handle-size: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

img {
  object-fit: contain;
  max-width: 320px;
  max-height: 320px;
}

.hide {
  display: none !important;
}

.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center{
  text-align: center;
}

.collapsed {
  transition: all .3s ease-out .1s;
}

.collapsed.collapsed-bottom {
  opacity: 0;
  transform: translate(-50%, 10%);
  pointer-events: none;
}

.collapsed.collapsed-left {
  opacity: 0;
  transform: translate(-10%, 0);
  pointer-events: none;
}

.overlay::after{
  opacity: 0;
  content:"";
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 0;
  opacity: .4;
  transition: all .2s linear
}

.overlay-white > *{
  z-index: 1;
}

.overlay-white::after{
  background: white;
}

.overlay-black::after{
  background: black;
}

.container {
  width: 100vw;
  min-height:80vh;
  height: auto;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10vh 0;
}

.main_controls {
  position: absolute;
  left: 10%;
  top: 80px;
}

.main_control {
  margin-right: 10px;
  border: none;
  font-size: 16px;
  border-radius: 100px;
  outline: none;
  padding: 6px 14px;
  background: #4eb7f5;
  color: white;
  cursor: pointer;
}

.toggle_grid[disabled] {
  opacity: 0.3;
}

.toggle_grid.on {
  background: rgb(119, 225, 66);
}

.responsive_ruler{
  width:100vw;
  height:30px;
  position:fixed;
  top:0px;
  background:#ececec;
  box-shadow:0 2px 10px rgba(0,0,0,.12);
  z-index:999999999999999999999;
}

.query_size{
  position: absolute;
  top :0;
  left:50%;
  background:white;
}

.query_size_bar{  
  height:30px;
  background:white;
  position:absolute;
  transform:translateX(-50%);
  cursor:pointer;
  border-left:1px solid #e7e7e7;
  border-right:1px solid #e7e7e7;
}
.query_size_bar:hover{
  background-color:rgb(156, 208, 253);
  color:white;
}

.query_size input:checked ~ .query_size_bar{
    background:var(--blue--main);
    color:white;
}

.query_size_bar::after,
.query_size_bar::before{
  content:attr(data-size);
  position:absolute;
  top:50%;
  left:10px;
  transform:translateY(-50%);
  font-size:11px;
  font-family:HelveticaNeueW01-55Roma;
}

.query_size_bar::before{
  left:auto;
  right:10px;
}

.query_size input{
  display:none;
}

.desk_1 .query_size_bar{
  width:1280px;
}
.desk_2 .query_size_bar{
  width:960px;
}

.desk_3 .query_size_bar{
  width:720px;
}

.mobile_1 .query_size_bar{
  width:480px;
}

.section_canvas {
  position: relative;
  min-height: 372px;
  width: 1280px;
  background: white;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
}

.section_layout {
  outline-offset: 0;
  width: calc(auto + 200px);
  align-self: stretch;
}

.section_item {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: fit-content;
  height: fit-content; */
  padding: 10px;
  outline-offset: -2px;
}

.section_item > *{
  width:100%;
  height:100%;
}

.section_item_img {
  flex-shrink: 1;
  min-width: 445px;
  min-height: 445px;
  background: url(./images/main_img.png) no-repeat;
  background-size: cover;
  background-position: center;
  outline-offset: -2px;
}

.heading {
  font-size: 48px;
  font-weight: bold;
  transform: scale(1, .88);
  width:inherit;
  height: inherit;
  transition: color .2s linear;
}

.text {
  font-size: 11px;
  line-height: 26px;
  width:inherit;
  height: inherit;
  transition: color .2s linear;
}

.button {
  background: white;
  padding: 12px 15px;
  color: black;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 8px;
  border: 1px solid black;
  text-align: center;
  width:calc(100% - 30px);
  min-height: inherit;
  display:flex
}

.grid_item {
  width: fit-content;
  height: fit-content;
}



.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.show-outlines,
.spacers_wrapper:hover .draggable-outline {
  outline: 2px solid #4eb7f5;
  z-index: 1;
}

.resizes_wrapper:hover .resizers {
  display: block;
}

.grab-cursor {
  cursor: grab;
  z-index: 1;
}

.ui-sortable-placeholder {
  background: #4eb7f5;
  visibility: visible !important;
  outline: none;
  opacity: 0.3;
  width: fit-content;
  height: fit-content;
}

.align-bar {
  position: absolute;
  background: white;
  border: 2px solid #F2F4F5;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 6px;
  padding: 4px;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
}

.align-bar-button {
  width: 16px;
  height: 16px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.align-bar-button:hover,
.align-bar-button.selected {
  background: var(--blue--main);
  cursor: pointer;
}

.align-bar-button img,
.align-bar-button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.align-bar-button:hover img,
.align-bar-button.selected img {
  filter: invert(100%) brightness(2);

}

.align-bar-button:nth-child(2) {
  margin: 0 6px;
}

.recommended-layouts {
  position: absolute;
  background: white;
  border-radius: 6px;
  padding: 22px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
  left: calc(100% + 20px);
  transition-delay: .2s;
}

.recommended-layouts-heading {
  font-family: HelveticaNeueW01-75Bold;
  font-size: 18px;
}

.layout-thumb {
  width: 230px;
  margin-top: 22px;
  cursor: pointer;
}

.layout-thumb:hover {
  outline: 2px solid var(--blue--main);
}



.resizes_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:1;
}

.resizable-box .resizers {
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizable-box .resizers .resizer {
  width: 8px;
  height: 8px;
  background: white;
  border: 2px solid var(--blue--main);
  position: absolute;
}

.resizable-box .resizers .resizer.top {
  left: 50%;
  top: -6px;
  cursor: ns-resize;
  transform: translateX(-50%)
}

.resizable-box .resizers .resizer.bottom {
  left: 50%;
  bottom: -6px;
  cursor: ns-resize;
  transform: translateX(-50%)
}

.resizable-box .resizers .resizer.left {
  left: -6px;
  top: 50%;
  cursor: ew-resize;
  transform: translateY(-50%)
}

.resizable-box .resizers .resizer.right {
  right: -6px;
  top: 50%;
  cursor: ew-resize;
  transform: translateY(-50%)
}

.resizable-box .resizers .resizer.top-left {
  left: -6px;
  top: -6px;
  cursor: nwse-resize;
}

.resizable-box .resizers .resizer.top-right {
  right: -6px;
  top: -6px;
  cursor: nesw-resize;
}

.resizable-box .resizers .resizer.bottom-left {
  left: -6px;
  bottom: -6px;
  cursor: nesw-resize;
}

.resizable-box .resizers .resizer.bottom-right {
  right: -6px;
  bottom: -6px;
  cursor: nwse-resize;
}

.spacers_wrapper {
  width:fit-content;
  display: grid;
  grid-template-columns: [main-start] minmax(auto,  max-content) [content-start] 1fr [content-end] minmax(auto,  max-content) [main-end];
  grid-template-rows: [main-start] minmax(auto,  max-content)  [content-start] 1fr  [content-end] minmax(auto,  max-content)  [main-end];
}

.section_layout{
  display: grid;
  grid-template-columns: [main-start] minmax(auto,  max-content) [content-start] 1fr [content-end] minmax(auto,  max-content) [main-end];
  grid-template-rows: [main-start] minmax(auto,  max-content)  [content-start] 1fr [content-end] minmax(auto,  max-content)  [main-end];
}

.section_layout_flex_wrapper{
  width:100%;
  height:100%;
}

.section_layout.no-grid{
  display: block;
}

.spacers_wrapper .section_item{
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row-start: content-start;
  grid-row-end: content-end;
}

.spacer {
  position: relative;
  opacity: .5;
  cursor: default;
  z-index: 10;
}

.spacer:hover,
.spacer.show {
  opacity: 1;
  background: rgba(69, 159, 237, 0.15);
}

.section_layout > .spacer:hover,
.section_layout > .spacer.show{
  background: rgba(69, 237, 136, 0.15);
}

.spacer.top,
.spacer.bottom {
  width: 100%;
  height:var(--spacers-init-size)
}

.spacer.top {
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row-start: main-start;
  grid-row-end: content-start;
}

.spacer.bottom {
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row-start: content-end;
}

.spacer.left,
.spacer.right {
  height: 100%;
  width:var(--spacers-init-size)
}

.spacer.left {
  grid-column-start: main-start;
  grid-column-end: content-start;
  grid-row-start: content-start;
  grid-row-end: content-end;
}

.spacer.right {
  grid-column-start: content-end;
  grid-row-start: content-start;
  grid-row-end: content-end;
}


.spacer-handle {
  display: none;
  position: absolute;
  border-radius: 100px;
  background: var(--blue--main);
  z-index: 10;
}

.section_layout > .spacer .spacer-handle{
  background: rgb(57, 186, 109);
}

.spacer-item  .spacer:hover .spacer-handle,
.spacer-item  .section_item:hover ~ .spacer .spacer-handle{
  display: block;
}

.spacer.top .spacer-handle,
.spacer.bottom .spacer-handle {
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: var(--spacers-handle-size);
  cursor: ns-resize;
}

.spacer.left .spacer-handle,
.spacer.right .spacer-handle {
  top: 50%;
  transform: translateY(-50%);
  height: 20%;
  height: 40px;
  width: var(--spacers-handle-size);
  cursor: ew-resize;
}

.spacer.top .spacer-handle {
  bottom: 0 ;
}

.spacer.right .spacer-handle {
  left: 0;
}

.spacer.bottom .spacer-handle {
  top: 0;
}

.spacer.left .spacer-handle {
  right: 0;
}

.spacer-invert ~ .spacer.top .spacer-handle {
  top: 100% ;
}

.spacer-invert ~ .spacer.right .spacer-handle {
  left: 100%;
}

.spacer-invert ~ .spacer.bottom .spacer-handle {
  top: 100%;
}

.spacer-invert ~ .spacer.left .spacer-handle {
  left: 100%;
}